html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
.heading,
.subheading {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0 0 1rem 0;
}

.heading + .subheading {
    margin-top: -1rem;
    margin-left: 1rem;
}

.heading {
    color: rgba(0, 0, 0, 0.54);
    font-size: 3.5rem;
    line-height: 1.30357em;
    margin-left: -.02em;
    letter-spacing: -.02em;
}

.subheading {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    line-height: 1.5em;
}

.content .CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    padding: 0 4px;
    margin-bottom: 0;
}

.emoji {
    height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

@keyframes scale {
    0% {
      transform: scale(2);
      opacity: 0;
      box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3);
    }
    50% {
      transform: scale(1) translate(0px, -5px);
      opacity: 1;
      box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.3);
    }
    100% {
      transform: scale(0.1) translate(0px, 5px);
      opacity: 0;
      box-shadow: 0px 10px 20px rgba(255, 255, 255, 0);
    }
  }