.picker-wrapper {
    transition: background-color 0.5s ease;
}

.picker-wrapper label {
    transition: color 0.5s ease;
}

.colorpicker {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid rgba(203, 203, 203, 0.6);
    border-radius: 2px;
}

.colorpicker > div {
    width: 40px;
    display: inline-block;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
    opacity: 1;
    border: 1px solid #000;
}

.colorpicker > div:hover {
    opacity: 0.7;
    cursor: pointer;
}