.progressBar {
    height: 1.5rem;
    width: 100%;
    background-color: #eee;
    position: relative;
    vertical-align: middle;
}

.progressBar:before {
    content: attr(data-label);
    font-size: 1rem;
    line-height: 1.5rem;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    mix-blend-mode: difference;
}

.progressBar .value {
    background-color: #4a4a4a;
    display: block;
    height: 100%;
}